@import url(http://fonts.googleapis.com/css?family=Hind|Oxygen|Raleway|Josefin+Sans|Indie+Flower|Cabin|Play|Roboto|Dancing+Script);
body {
    font-family: Avenir;
    margin: 2em 5em;
    width: 70%;
    margin: 2em auto;
}
#heading {
    font-size: 4em;
    text-align: center;
    border-bottom: 10px solid steelblue;
    margin: 1em 0 .75em 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 220);
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: .3em;
}
h1 {
    border-bottom: 4px solid rgba(0,0,0,.025);
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: 2em auto 2em auto;
    border-radius: .2em;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.025));
}
h2 {
    border-bottom: 4px solid rgba(0,0,0,.2);
    margin-top: 1em;
    padding-bottom: 3px;
}
h3 {
    border-bottom: 2px solid rgba(0,0,0,.1);
    width: 80%;
    padding-bottom: 3px;
    margin-left: .75em;
}
h4 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 70%;
    padding-bottom: 3px;
    margin-left: 1.5em;
}
h5 {
    margin-left: 2.25em;
}
li {
    margin-left: .75em;
}
hr {
    border: none;
    border-radius: .5em;
    padding: 1px;
    background-color: silver;
    margin-top: 2em;
}
blockquote {
    border-left: 5px solid rgba(0,0,0,.075);
    padding-left: 15px;
}
code {
    font-family: Josefin Sans;
    background-color: rgb(245, 245, 245);
    padding: 2px;
    border-radius: .2em;
    font-family: Lucida Console;
    font-size: .78em;
    border: 1px solid rgb(235,235,235);
    color: darkred;
}
th {
    font-size: 1.15em;
    background-color: rgb(225, 225, 225);
    padding: .25em;
    min-width: 150px;
}
td {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
}
#td-center {
    background-color: rgb(250, 245, 235);
    padding: .25em;
    max-width: 200px;
    text-align: center;
}
